{% extends "_base-admin.html" %}

{% load jformat %}

{% block body %}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card bg-dark shadow-lg border-0 rounded-lg mt-3">
                                <div class="card-header">
                                    <h3 class="text-center text-light font-weight-light my-4">ساخت قبض</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="row mb-3">
                                            <div class="form-floating mb-3">
                                                <select name="user" class="form-select" aria-label="Default select example">
                                                    {% for user in form.fields.user.choices %}
                                                        {% if not user.0.is_staff %}
                                                            <option value="{{ user.0 }}">{{ user.1 }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <label for="inputUser">کاربر</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input name="price" class="form-control" id="inputPrice" type="number" placeholder=""/>
                                                    <label for="inputPrice">قیمت</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input name="discount" class="form-control" id="inputDiscount" type="number" placeholder=" "/>
                                                    <label for="inputDiscount">تخفیف %</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input name="best_date" class="form-control" id="InputBestTime" type="text" data-jdp placeholder=""/>
                                            <label for="inputBestDate">بهترین تایم</label>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input name="start_date" class="form-control" id="inputStartDate" type="text" data-jdp placeholder=""/>
                                                    <label for="inputStartDate">تاریخ شروع</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input name="end_date" class="form-control" id="inputEndDate" type="text" data-jdp />
                                                    <label for="inputEndDate">تاریخ پایان</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input name="golden_date" class="form-control" id="inputGoldenDate" type="text" data-jdp placeholder=""/>
                                            <label for="inputGoldenDate">دوره طلایی</label>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary btn-block pt-0 btn-lg">
                                                    ساخت قبض
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

