{% extends "_base-admin.html" %}
{% load jformat %}

{% block body %}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card bg-dark shadow-lg border-0 rounded-lg mt-3">
                                <div class="card-header">
                                    <h3 class="text-center text-light font-weight-light my-4">ساخت قبض</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}

                                        <!-- فیلد کاربر -->
                                        <div class="form-group mb-3">
                                            <label for="user" class="form-label text-white">کاربر</label>
                                            {{ form.user }}
                                            {% if form.user.errors %}
                                                <div class="text-danger">{{ form.user.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <!-- فیلدهای تاریخ با ویژگی data-jdp -->
                                        <div class="form-group mb-3">
                                            <label for="start_date" class="form-label text-white">تاریخ شروع</label>
                                            <input type="text" class="form-control" name="start_date" id="start_date" data-jdp>
                                            {% if form.start_date.errors %}
                                                <div class="text-danger">{{ form.start_date.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="best_date" class="form-label text-white">بهترین تاریخ</label>
                                            <input type="text" class="form-control" name="best_date" id="best_date" data-jdp>
                                            {% if form.best_date.errors %}
                                                <div class="text-danger">{{ form.best_date.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="end_date" class="form-label text-white">تاریخ پایان</label>
                                            <input type="text" class="form-control" name="end_date" id="end_date" data-jdp>
                                            {% if form.end_date.errors %}
                                                <div class="text-danger">{{ form.end_date.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="golden_date" class="form-label text-white">تاریخ طلایی</label>
                                            <input type="text" class="form-control" name="golden_date" id="golden_date" data-jdp>
                                            {% if form.golden_date.errors %}
                                                <div class="text-danger">{{ form.golden_date.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <!-- فیلد قیمت -->
                                        <div class="form-group mb-3">
                                            <label for="price" class="form-label text-white">قیمت</label>
                                            <input type="number" class="form-control" name="price" id="price">
                                            {% if form.price.errors %}
                                                <div class="text-danger">{{ form.price.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <!-- فیلد تخفیف -->
                                        <div class="form-group mb-3">
                                            <label for="discount" class="form-label text-white">تخفیف</label>
                                            <input type="number" class="form-control" name="discount" id="discount">
                                            {% if form.discount.errors %}
                                                <div class="text-danger">{{ form.discount.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <!-- فیلد جزئیات -->
                                        <div class="form-group mb-3">
                                            <label for="detail" class="form-label text-white">جزئیات</label>
                                            <input type="text" class="form-control" id="detail" name="detail">
                                            {% if form.detail.errors %}
                                                <div class="text-danger">{{ form.detail.errors }}</div>
                                            {% endif %}
                                        </div>

                                        <button type="submit" class="btn btn-primary">ثبت</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        // جاواسکریپت مربوط به جلالی دیت پیکر
        jalaliDatepicker.startWatch();
    </script>
{% endblock %}
