<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        {% if user.is_authenticated %}
            <form c method="post" action="{% url 'users:logout_user' %}">
                {% csrf_token %}
                <button  type="submit">Logout</button>
            </form>



        {% endif %}

      {% if user.is_authenticated and user.is_staff == False %}
            <li class="nav-item">
          <a class="nav-link" href="{% url "rent:rent_users" %}">Rent</a>
        </li>{% endif %}

        	

        {% if user.is_staff %}
            <li class="nav-item">
          <a class="nav-link" href="{% url 'users:register' %}"  aria-disabled="true">Register</a>
        </li>
        	
        {% endif %} 
      </ul>
    </div>
  </div>
</nav>