{% block body %}
<nav class="sb-topnav navbar di navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        {% if user.is_authenticated and user.is_staff %}
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        {% endif %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link active">مجتمع کوهسر</a>
                </li>
                {% if user.is_authenticated and user.is_staff == False %}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'users:user_page' %}">صفحه اصلی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'rent:rent_users' %}">اجاره ها</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>


</nav>
{% if user.is_authenticated and user.is_staff == False %}

{% endif %}
<script>
    window.addEventListener('DOMContentLoaded', event => {

        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            // Uncomment Below to persist sidebar toggle between refreshes
            // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
            //     document.body.classList.toggle('sb-sidenav-toggled');
            // }
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }

    });
</script>
{% endblock %}